@use 'fonts.scss';
@use 'theme.scss';
@use 'header.scss';

html {
  width: 100vw; // this gets rid of scrollbar problems (apparently)
}

body {
  color: var(--primary-color);
  font-family: var(--monospace);
  // transition: all 0.25s ease; // TODO: this doesn't work great on initial load
}

.main {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.header-wrapper {
  width: 100%;

  margin-top: 64px;
  margin-bottom: 32px;

  header {
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  font-family: var(--pxplus);
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 0px;
  color: var(--primary-color);
}

h1::before {
  content: '*';
  margin-right: 12px;
}

h2 {
  font-family: var(--pxplus);
  font-weight: normal;
}

table {
  font-family: var(--monospace);
  border-style: hidden;
  border-spacing: 6px;

  td {
    border-left: 4px solid var(--divider-color);
    // border-right: 4px solid var(--divider-color);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-left: 12px;
  }

  td:first-child {
    border-left: none;
  }

  td:last-child {
    border-right: none;
  }
}

a[href] { // TODO: choose something better here that is distinguishable from other text
  color: var(--secondary-color);
}

a[href]:visited {
  color: var(--primary-color);
}

.flag-underline {
  height: 4px;
  width: 180px;
  position: relative;
  margin-left: 6px;
  margin-bottom: 28px;

  span {
    display: inline-block;
    width: 36px;
    height: 4px;
    position: relative; // for whatever reason the spans are pushed down 10px
    top: -10px;
  }

  .flag-a { background-color: var(--trans-blue-color);  }
  .flag-b { background-color: var(--trans-pink-color);  }
  .flag-c { background-color: var(--trans-white-color); }
  .flag-d { background-color: var(--trans-pink-color);  }
  .flag-e { background-color: var(--trans-blue-color);  }
}

.about-me {
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.3;
  text-transform: lowercase;
}

.tmpl-home {
  font-family: var(--monospace);
  font-weight: bold;
  font-size: 13px;
}

.projects {

  table {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

ul.blog-list {
  li {
    margin-bottom: 8px;

    .link {
      font-weight: bold;
    }

    .description {
      font-weight: normal;
    }

    .date {
      float: right;
      font-weight: normal;
    }
  }
}

.blog-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;

  border: 1px solid var(--primary-color-opacity);
  border-radius: 3px;

  font-family: var(--monospace);
  font-size: 12px;
  text-decoration: none;
}

.blog-tag::before {
  content: '#';
  font-weight: normal;
}

a[href].blog-tag,
a[href].blog-tag:visited {
  color: inherit;
}
a[href].blog-tag:hover,
a[href].blog-tag:focus {
  background-color: var(--primary-color-opacity);
  color: var(--background-color);
}


.tmpl-blog {
  color: var(--tertiary-color);

  h1 {
    font-family: var(--monospace);
    font-size: 28px;
    font-weight: bold;
    color: var(--tertiary-color);
    width: fit-content;
  }

  h1::before {
    display: none;
  }

  h1::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 6px;
    background-color: var(--divider-color);
    margin-top: 2px;
    margin-left: 20px;
  }

  p {
    font-family: var(--sansserif);
    font-size: 18px;
    line-height: 1.4;
    margin-top: 32px;
    text-align: justify;
  }

  pre {
    font-family: var(--monospace);
    font-size: 14px;
  }
}
