---
layout: layouts/home.njk
eleventyNavigation:
  key: website
  order: 1
  title_overwrite: janina's site
---
{%- from "components/underline.njk" import underline -%}

<h1>who am i?</h1>
{{ underline() }}

<pre class="about-me">
I'm Janina, 22 y/o student and like programming all sorts of different things
Mainly interested in webdev, linux, maths & keyboards :3

Living and studying compsci in Germany

Somewhat of a cv:

= name: Janina Wibker
= age: 22
= location: Germany

= languages:
  - english
  - german
  - french  (a tiny bit)
  - chinese (a tiny bit)

= programming languages:
  - javascript & typescript
  - java
  - kotlin
  - bash
  - c
  - c++
  - python
  - ruby
  - nim

= interests:
  - web dev
  - compiler design
  - linux & window managers
  - scripting & automation
  - (mechanical) keyboards
  - discrete mathematics & theoretical computer science

  You can reach me at <span>me</span>∂<span style="display: none">no-reply.</span>janina.lol
</pre>
