@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';

body {
  -webkit-font-smoothing: antialiased;
}

.trans-gradient-stops {
  --tw-gradient-stops: 
    theme('colors.trans.blue') 20%,
    theme('colors.trans.pink') 20% 40%,
    theme('colors.trans.white') 40% 60%,
    theme('colors.trans.pink') 60% 80%,
    theme('colors.trans.blue') 80% 100%;
}

.ui-codeinline, span[data-rehype-pretty-code-figure] > code {
  & span[style] {
    @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
    @apply bg-[var(--shiki-light-bg)] dark:bg-[var(--shiki-dark-bg)];
  }
}

.ui-codeblock {
  & span[style] {
    @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
    @apply bg-[var(--shiki-light-bg)] dark:bg-[var(--shiki-dark-bg)];
  }

  [data-highlighted-line] {
    @apply bg-secondary-3 -mr-2 -ml-2.5 pl-2 pr-2 border-l-2 border-secondary-10;
  }

  code[data-line-numbers] > [data-line], &.has-diff > code > [data-line] {

    &:not(.diff):before {
      counter-increment: line;
      content: counter(line);
    }

    &:before {
      @apply mr-4 inline-block text-right text-secondary-6;
    }

    &[data-highlighted-line]:not(.diff):before {
      @apply text-secondary-9;
    }

    &.diff.add {
      @apply bg-positive-3 before:text-positive-7 before:content-['+'] -mr-2 -ml-2.5 pl-2 pr-2 border-l-2 border-positive-8;
    }

    &.diff.remove {
      @apply bg-negative-3 before:text-negative-7 before:content-['-'] -mr-2 -ml-2.5 pl-2 pr-2 border-l-2 border-negative-8;
    }
  }
 
  code[data-line-numbers] {
    counter-reset: line
  }

  code[data-line-numbers-max-digits="1"]>[data-line]::before {
    width: 12px;
  }

  code[data-line-numbers-max-digits="2"]>[data-line]::before {
    width: 20px;
  }

  code[data-line-numbers-max-digits="3"]>[data-line]::before {
    width: 28px;
  }

  code[data-line-numbers-max-digits="4"]>[data-line]::before {
    width: 36px;
  }
}

.twoslash-completion-cursor::before {
  @apply content-['_'] w-0.5 h-[18px] bg-secondary-7 leading-[initial];
}
