{% macro footer() %}
<span class="line">© janina 2022, licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>, </span>
<span class="line"><a href="https://example.com/TODO">source code</a> (website)</span>
{% endmacro %}
