{% macro underline() %}
<div class="flag-underline">
  <span class="flag-a"></span><span class="flag-b"></span><span class="flag-c"></span><span class="flag-d"></span><span class="flag-e"></span>
</div>
{% endmacro %}
