<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    {% if is_blog_view %}
    <link rel="stylesheet" href="{{ '/css/blog.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    {% endif %}
    {% if is_404 %}
    <link rel="stylesheet" href="{{ '/css/404.css' | url }}">
    {% endif %}
    <link rel="alternate"  href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate"  href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <meta property="og:title"  content="{{ title or metadata.title }}" />
    <meta property="og:type"   content="website" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:url"    content="{{ metadata.url }}{{ page.url.substring(1) }}" />
    <meta property="og:image"  content="{{ metadata.url }}img/pp.png" />

    <link rel="icon" href="img/pp_smol.png" type="image/png" />
  </head>
  <body>
    {{ content | safe | trim }}
    <script>
      const THEME_STORAGE_KEY = 'janina.lol.theme'

      const determine_initial_theme = () => {
        const is_dark_mode     = window.matchMedia("(prefers-color-scheme: dark)").matches
        const is_light_mode    = window.matchMedia("(prefers-color-scheme: light)").matches
        const is_not_specified = window.matchMedia("(prefers-color-scheme: no-preference)").matches
        const has_no_support   = !is_dark_mode && !is_light_mode && !is_not_specified

        if(localStorage.getItem(THEME_STORAGE_KEY)) {    // saved theme
          return localStorage.getItem(THEME_STORAGE_KEY)
        } else if(!has_no_support && is_dark_mode) {     // system dark mode
          return 'dark'
        } else if(!has_no_support && is_light_mode) {    // system light mode
          return 'light'
        } else if(!has_no_support && is_not_specified) { // system unspecified
          return 'light'
        } else { // default
          return 'light'
        }
      }

      const activate_theme = theme => {
        if(theme === 'dark') {
          window.document.body.classList.add('dark')
          window.document.body.classList.remove('light')
        } else if(theme === 'light') {
          window.document.body.classList.add('light')
          window.document.body.classList.remove('dark')
        } else {
          window.document.body.classList.toggle('dark')
          window.document.body.classList.toggle('light')
        }
      }

      const save_theme = theme => {
        localStorage.setItem(THEME_STORAGE_KEY, theme)
      }

      const clear_theme = () => {
        localStorage.removeItem(THEME_STORAGE_KEY)
      }

      const toggle_theme = theme => {

        // if undefined, choose the opposite of the current
        if(theme === undefined) {
          theme = determine_initial_theme() === 'light' ? 'dark' : 'light'
        }

        activate_theme(theme)
        save_theme(theme)
        return theme
      }

      activate_theme(determine_initial_theme())

      window.matchMedia("(prefers-color-scheme: dark)").addListener(e => e.matches && activate_theme('dark') && clear_theme())
      window.matchMedia("(prefers-color-scheme: light)").addListener(e => e.matches && activate_theme('light') && clear_theme())

    </script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
