---
layout: layouts/home.njk
templateClass: tmpl-blog
---

<h1>{{ title }}</h1>

<time class="blog-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

{{ content | safe }}

{%- for tag in tags | filterTagList -%}
{%- set tag_url %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tag_url | url }}" class="blog-tag">{{ tag }}</a>
{%- endfor %}

{# TODO: add a proper footer and move these things there #}
