---
layout: layouts/base.njk
templateClass: tmpl-home
---
{%- from "components/header.njk" import header -%}
{%- from "components/footer.njk" import footer -%}
{{ header(collections.all, page, header_title) }}

<div class="main">
  <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {{ content | safe }}
  </main>

  <hr style="border-color: var(--primary-color-opacity);" />
  <footer>{{ footer() }}</footer>
</div>
